In [191]:
library(R.matlab)
library(psych)

# HCP

In [192]:
data_beh=read.table('/dagher/dagher11/filip/Obesity_maps/data_old/analysis_noethn.fsgd',sep='\t',header=T)
data_thick_lh=read.table('/dagher/dagher11/filip/Obesity_maps/data_old/CT_BMI_LH.txt',sep='\t',header=T)[1:32]
data_thick_rh=read.table('/dagher/dagher11/filip/Obesity_maps/data_old/CT_BMI_RH.txt',sep='\t',header=T)[2:32]
data_thick=cbind(data_thick_lh,data_thick_rh)
colnames(data_thick)=c('Subject',colnames(data_thick)[2:(ncol(data_thick))])

In [193]:
dataset=merge(data_beh, data_thick, by='Subject')

In [194]:
write.table(dataset,'/dagher/dagher11/filip/Obesity_maps/data/dataset_HCP.csv',,sep=',',row.names=F)

In [178]:
results=matrix(ncol=6,nrow=length(c(grep('thickness',colnames(dataset))))) 

for (i in 1:length(c(grep('thickness',colnames(dataset))))) 
{ 
    
    m1=summary(lm(dataset[c(grep('thickness',colnames(dataset)))][[i]] ~ 
          dataset$BMI +
          dataset$Age +
          dataset$Sex + 
          dataset$Edu +
          dataset$Income))
    
    results[i,1]=colnames(dataset)[c(grep('thickness',colnames(dataset)))][i] 
    results[i,2]=m1$coefficients[2,4] # p-value 
    results[i,3]=m1$coefficients[2,3] # t-value 
    results[i,4]=m1$coefficients[2,1] # sd for 
    results[i,5]=m1$coefficients[2,2] # estimate for 
    results[i,6]=ifelse(grepl("left",results[i,1]),"left","right") #save hemisphere

}

colnames(results)=c('Parcel','p-value', 't-value', 'SD', 'estimate', 'hemisphere')

In [179]:
write.table(results,'/dagher/dagher11/filip/Obesity_maps/tables/HCP_BMI.csv',sep=',',row.names=F,col.names=T)

In [180]:
results=as.data.frame(results)

colnames(results)=c('Parcel','p-value', 't-value', 'SD', 'estimate', 'hemisphere')

results$'p-value'=as.numeric(results$'p-value')
results$'t-value'=as.numeric(results$'t-value')
results$SD=as.numeric(results$SD)
results$estimate=as.numeric(results$estimate)
results$Parcel=c("Caudal Anterior Cingulate", "Caudal Middle Frontal",
"Cuneus", "Entorhinal",
"Fusiform", "Inferior Parietal",
"Inferior Temporal", "Isthmus Cingulate",
"Lateral Occipital", "Lateral Orbitofrontal",
"Lingual", "Medial Orbitofrontal",
"Middle Temporal", "Parahippocampal",
"Paracentral", "Pars Opercularis",
"Pars Orbitalis", "Pars Triangularis",
"Pericalcarine", "Postcentral",
"Posterior Cingulate", "Precentral",
"Precuneus", "Rostral Anterior Cingulate",
"Rostral Middle Frontal", "Superior Frontal",
"Superior Parietal", "Superior Temporal",
"Supramarginal", "Transverse Temporal",
"Insula", "Caudal Anterior Cingulate",
"Caudal Middle Frontal", "Cuneus",
"Entorhinal", "Fusiform",
"Inferior Parietal", "Inferior Temporal",
"Isthmus Cingulate", "Lateral Occipital",
"Lateral Orbitofrontal", "Lingual",
"Medial Orbitofrontal", "Middle Temporal",
"Parahippocampal", "Paracentral",
"Pars Opercularis", "Pars Orbitalis",
"Pars Triangularis", "Pericalcarine",
"Postcentral", "Posterior Cingulate",
"Precentral", "Precuneus",
"Rostral Anterior Cingulate", "Rostral Middle Frontal",
"Superior Frontal", "Superior Parietal",
"Superior Temporal", "Supramarginal",
"Transverse Temporal", "Insula")
results$hemisphere=NULL


doc <- read_docx()
results[, sapply(results, is.numeric)] <- round(results[, sapply(results, is.numeric)], 4)
doc <- doc %>%
  body_add_table(as.data.frame(results))

print(doc, target = "/dagher/dagher11/filip/Obesity_maps/tables/HCP_BMI.docx")

In [181]:
writeMat('/dagher/dagher11/filip/Obesity_maps/data/HCP_CT_DKT_RH.mat','HCP_CT_DKT_LH'=t(as.numeric(results[,3][c(1:31)])))
writeMat('/dagher/dagher11/filip/Obesity_maps/data/HCP_CT_DKT_LH.mat','HCP_CT_DKT_RH'=t(as.numeric(results[,3][c(32:62)])))

In [182]:
writeMat('/dagher/dagher11/filip/Obesity_maps/data/HCP_CT_DKT_LHRH.mat','HCP_CT_DKT_LHRH'=t(as.numeric(results[,3][c(1:62)])))

In [47]:
write.table(results[,3][c(1:31)],'/dagher/dagher11/filip/Obesity_maps/data/HCP_CT_DKT_LH.csv',
            sep=',',row.names=F, col.names=F)
write.table(results[,3][c(32:62)],'/dagher/dagher11/filip/Obesity_maps/data/HCP_CT_DKT_RH.csv',
            sep=',', row.names=F, col.names=F)

In [78]:
nrow(dataset)
describe(dataset$Age)
describe(dataset$BMI)
table(dataset$Sex)

[1] 814

   vars n   mean    sd       median trimmed  mad    min max range skew
X1 1    814 28.7457 3.741717 29     28.77607 4.4478 22  37  15    -0.04502654
   kurtosis   se
X1 -0.9682246 0.1311471

   vars n   mean     sd       median trimmed  mad      min   max   range
X1 1    814 26.59362 5.279214 25.525 26.05305 4.751733 16.65 47.76 31.11
   skew      kurtosis  se
X1 0.9445723 0.7396266 0.1850364

  1   2
421 393

## HCPA

In [195]:
data_beh=read.table('/dagher/dagher11/filip/Obesity_maps/data_old/analysis_HCPA.fsgd',sep='\t',header=T)
data_thick_lh=read.table('/dagher/dagher11/filip/Obesity_maps/data_old/CT_HCPA_BMI_LH.txt',sep='\t',header=T)[1:32]
data_thick_rh=read.table('/dagher/dagher11/filip/Obesity_maps/data_old/CT_HCPA_BMI_RH.txt',sep='\t',header=T)[2:32]
data_thick=cbind(data_thick_lh,data_thick_rh)
colnames(data_thick)=c('Subject',colnames(data_thick)[2:(ncol(data_thick))])

In [196]:
dataset=merge(data_beh, data_thick, by='Subject')

In [197]:
write.table(dataset,'/dagher/dagher11/filip/Obesity_maps/data/dataset_HCPA.csv',,sep=',',row.names=F)

In [171]:
results=matrix(ncol=6,nrow=length(c(grep('thickness',colnames(dataset))))) 

for (i in 1:length(c(grep('thickness',colnames(dataset))))) 
{ 
    
    m1=summary(lm(dataset[c(grep('thickness',colnames(dataset)))][[i]] ~ 
          dataset$BMI +
          dataset$Age +
          dataset$Sex + 
          dataset$Edu +
          dataset$Income +
          dataset$Site))
    
    results[i,1]=colnames(dataset)[c(grep('thickness',colnames(dataset)))][i] 
    results[i,2]=as.numeric(m1$coefficients[2,4]) # p-value 
    results[i,3]=as.numeric(m1$coefficients[2,3]) # t-value 
    results[i,4]=as.numeric(m1$coefficients[2,1]) # sd for 
    results[i,5]=as.numeric(m1$coefficients[2,2]) # estimate for 
    results[i,6]=ifelse(grepl("left",results[i,1]),"left","right") #save hemisphere

}

In [172]:
write.table(results,'/dagher/dagher11/filip/Obesity_maps/tables/HCPA_BMI.csv',sep=',',row.names=F,col.names=T)

In [173]:
results=as.data.frame(results)

colnames(results)=c('Parcel','p-value', 't-value', 'SD', 'estimate', 'hemisphere')

results$'p-value'=as.numeric(results$'p-value')
results$'t-value'=as.numeric(results$'t-value')
results$SD=as.numeric(results$SD)
results$estimate=as.numeric(results$estimate)
results$Parcel=c("Caudal Anterior Cingulate", "Caudal Middle Frontal",
"Cuneus", "Entorhinal",
"Fusiform", "Inferior Parietal",
"Inferior Temporal", "Isthmus Cingulate",
"Lateral Occipital", "Lateral Orbitofrontal",
"Lingual", "Medial Orbitofrontal",
"Middle Temporal", "Parahippocampal",
"Paracentral", "Pars Opercularis",
"Pars Orbitalis", "Pars Triangularis",
"Pericalcarine", "Postcentral",
"Posterior Cingulate", "Precentral",
"Precuneus", "Rostral Anterior Cingulate",
"Rostral Middle Frontal", "Superior Frontal",
"Superior Parietal", "Superior Temporal",
"Supramarginal", "Transverse Temporal",
"Insula", "Caudal Anterior Cingulate",
"Caudal Middle Frontal", "Cuneus",
"Entorhinal", "Fusiform",
"Inferior Parietal", "Inferior Temporal",
"Isthmus Cingulate", "Lateral Occipital",
"Lateral Orbitofrontal", "Lingual",
"Medial Orbitofrontal", "Middle Temporal",
"Parahippocampal", "Paracentral",
"Pars Opercularis", "Pars Orbitalis",
"Pars Triangularis", "Pericalcarine",
"Postcentral", "Posterior Cingulate",
"Precentral", "Precuneus",
"Rostral Anterior Cingulate", "Rostral Middle Frontal",
"Superior Frontal", "Superior Parietal",
"Superior Temporal", "Supramarginal",
"Transverse Temporal", "Insula")
results$hemisphere=NULL


doc <- read_docx()
results[, sapply(results, is.numeric)] <- round(results[, sapply(results, is.numeric)], 4)
doc <- doc %>%
  body_add_table(as.data.frame(results))

print(doc, target = "/dagher/dagher11/filip/Obesity_maps/tables/HCPA_BMI.docx")

In [174]:
writeMat('/dagher/dagher11/filip/Obesity_maps/data/HCPA_CT_DKT_RH.mat','HCPA_CT_DKT_LH'=t(as.numeric(results[,3][c(1:31)])))
writeMat('/dagher/dagher11/filip/Obesity_maps/data/HCPA_CT_DKT_LH.mat','HCPA_CT_DKT_RH'=t(as.numeric(results[,3][c(32:62)])))

In [175]:
writeMat('/dagher/dagher11/filip/Obesity_maps/data/HCPA_CT_DKT_LHRH.mat','HCPA_CT_DKT_LHRH'=t(as.numeric(results[,3][c(1:62)])))

In [93]:
write.table(results[,3][c(1:31)],'/dagher/dagher11/filip/Obesity_maps/data/HCPA_CT_DKT_LH.csv',
            sep=',',row.names=F, col.names=F)
write.table(results[,3][c(32:62)],'/dagher/dagher11/filip/Obesity_maps/data/HCPA_CT_DKT_RH.csv',
            sep=',', row.names=F, col.names=F)

In [94]:
nrow(dataset)
describe(dataset$Age)
describe(dataset$BMI)
table(dataset$Sex)

[1] 228

   vars n   mean     sd       median   trimmed  mad      min max      range
X1 1    228 42.82529 4.164367 42.45833 42.79348 5.868625 36  49.91667 13.91667
   skew       kurtosis  se
X1 0.07716315 -1.277424 0.275792

   vars n   mean     sd       median   trimmed  mad      min      max
X1 1    227 27.71077 5.146711 26.82773 27.39543 5.392765 18.58902 41.80904
   range    skew      kurtosis   se
X1 23.22002 0.5066034 -0.4299561 0.3415992

  1   2
130  98